.bg-header{
    background-color: cadetblue;
}

.header-container{
    max-width: 900px;
    margin: 0 auto;
    padding: 20px 0;

    display: flex;
    justify-content:space-between;
    align-items: center;


}
.header-title{
 font-size: 30px;
 font-weight: 700;
}

.header-navbar{
min-width: 500px;
display: flex;
justify-content: space-between;
align-items: center;

}


.header-navlink{
    font-size: 18px;
    font-weight: 700;
    color:darkgray;
}


.cart-image{
    height: 50px;
    width: 50px;

}

.flex-container{

    max-width: 900px;
    margin: 0 auto;
    padding: 20px 0;

    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-direction: row ;
    flex-wrap: wrap;
}